.features {
  & > .text {
    margin-bottom: 4rem;
    @include respond(md) {
      margin-inline: auto;
      text-align: center;
      margin-bottom: 6rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    @include respond(max-md) {
      & div {
        border-top: 1px solid rgba($grayish-blue, 0.25);
        text-align: center;

        &:last-child {
          border-bottom: 1px solid rgba($grayish-blue, 0.25);
        }
      }
    }

    @include respond(md) {
      max-width: 70rem;
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &-title {
      display: inline-block;
      padding-top: 2rem;
      padding-bottom: 2rem;
      @include respond(md) {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      &.active {
        border-bottom: 4px solid $soft-red;
        color: $v-dark-blue;
      }

      color: $grayish-blue;
      border-bottom: 4px solid transparent;
      cursor: pointer;

      &:hover {
        border-bottom: 4px solid $soft-red;
        color: $v-dark-blue;
      }

      @include respond(md) {
        width: 100%;
        text-align: center;
        border-bottom: 4px solid rgba($grayish-blue, 0.25);
      }
    }
  }

  &__img {
    position: relative;
    text-align: center;
    @include respond(md) {
      order: 2;
      flex: 1;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .rounded {
      position: absolute;
      top: 20%;
      right: 20%;
      width: 100vw;
      height: 95%;
      @include respond(md) {
        height: 100%;
      }
      background-color: $soft-blue;
      border-top-right-radius: 50rem;
      border-bottom-right-radius: 50rem;
      z-index: -1;
    }
  }

  &__main {
    display: none;
    flex-direction: column;
    gap: 8rem;

    &.active {
      display: flex;
    }

    @include respond(md) {
      flex-direction: row;
      gap: 3rem;
      align-items: center;
    }

    @include respond(lg) {
      height: 38.6rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @include respond(md) {
        align-items: flex-start;
        flex: 1;
        order: 2;
      }

      & > div {
        display: flex;
        justify-content: center;

        & > a {
          padding: 1.3rem 3rem;
        }
      }
    }
  }
}
