// COLORS
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

$grayish-blue: hsl(229, 8%, 60%);
$v-dark-blue: hsl(229, 31%, 21%);
$white: #fcfcfc;

// FONTS
$n-f-size: 1.8rem;
$f-w-400: 400;
$f-w-500: 500;
$font-family: "Rubik", sans-serif;
